{% load static %}
<html>
    <head>
        <title>MakeAPlan</title>
        
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <meta name="title" content="Elton Xue" />
        
        <meta name="description" content="Elton Xue's Portfolio" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        
        <script src="{% static 'javascript/jquery-ui/jquery-ui.js' %}? {{ now }}"></script>
        
        <link href="{% static 'javascript/jquery-ui/jquery-ui.css' %}? {{ now }}" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}? {{ now }}" />
        
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-light bg-faded">
                    <ul class="nav navbar-nav float-xs-left" >
                        <li class="nav-item active">
                            <a class="nav-link" href="#" style="color: white; font-weight: bolder; margin-left: 15px">The time is {{ now }} </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right" >
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        
        </div>
        
        <div class="container-fluid" id="sectionMain">
            <!-- First Page -->
            
            <div class="firstPage">
                <div class="row">
                <div class="col-sm-12">
                    <div class="center-element wrapper" style="width: 800px">
                        <h1 id="bannerText">Make<span style="color: #4AC7FF">A</span>Plan</h1>
                    </div>
                </div>
                
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <div class="center-element wrapper">
                            <form method="post" id="searchForm">
                                {% csrf_token %} 
                                <input type="text" id="searchBar" name="search" placeholder="Enter your location! (i.e. San Francisco, CA)">
                                <button id="searchButton">Search!</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <script type="text/javascript">
            
            
            $("#searchButton").hover(function() {
                $("#searchButton").css("cursor", "hand");
                $("#searchButton").animate({width: 200}, 100);
            }, function() {
                $("#searchButton").animate({width: 175}, 100);
            })
            
        
        
        </script>
    </body>
</html>