<!DOCTYPE>

	<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<title>User Registration</title>
	</head>
	<body>

	 
	 <form action="{% url 'register' %}" method="post">
	 	{% csrf_token %}
    	<label for="username">Username: </label>
    	<input id="username" type="text" name="username" >
    	<label for="password">Password: </label>
    	<input id="password" type="text" name="password" >
    	<label for="email">Email: </label>
    	<input id="email" type="text" name="email" >
    	<input type="submit" value="OK">
</form>
	</body>
	</html>